body {
    padding: 0;
    overflow: hidden;
    font-family: helvetica, arial, sans-serif;
}

.map {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

#footer {
  z-index: 3;
  position: absolute;
  display:block;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 2%;
  height: 5%;
  bottom: 0;
}

.btn-default:hover {
  background-color: #008556;
  color: white;
}

.navbar .navbar-custom .navbar-custom .navbar-toggle .icon-bar {
  background-color: #008556;
}

.navbar .navbar-custom .navbar-custom .navbar-toggle {
  background-color: white;
  border-color: white;
}
