body {
  overflow-x: hidden;
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p {
  text-align: center;
}

h3 {
  padding-top: 75px;
}

footer {
  padding-top: 25px;
  padding-right: 0px;
  padding-bottom: 25px;
  padding-left: 0px
  text-align: center;
  background-color:  #008556;
  color: white;
  position: relative;
  z-index: 9999;
}

table{
  margin-left: auto;
  margin-right: auto;
}

td{
  padding-top: 25px;
  padding-right:15px;
}

#wrapper{
  position: absolute;
  height: 100%;
  width: 100%;
}

#navbar-wrapper{
  display: block;
  height: 50px;
  width: 100%
}

#menu-item-wrapper{
  height: 100%;
  width: 100%;
  position: absolute;
}

a.disabled {
    pointer-events: none;
}

.content-section {
  padding-top: 200px;
}

.legend {
    font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #333;
    width: 200px;
    height: 150px;
    position: absolute;
    background-color: #fff;
    z-index: 2000;
    right: 10px;
    bottom: 20px;
    overflow-y: hidden;
    padding: 10px;
}

.logo {
  padding-left: 10px;
}

.menu-item {
  background:white;
  height: 100%;
}

.menu-text{
  min-height: 30em;
  padding: 2em 1.5em 2em 1.5em;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbar-default {
  z-index: 9999;
  background-color:  #008556;
  border-color: transparent;
  -webkit-transition: padding 0.3s;
  -moz-transition: padding 0.3s;
  transition: padding 0.3s;
  border: none;
}
.navbar-default .navbar-brand {
  font-size: 2em;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  color: white;
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 400;
}
.navbar-default .navbar-nav > .active > a {
  border-radius: 3px;
}
.navbar-default.navbar-shrink {
  background-color:  #008556;
  padding: 10px 0;
}
.navbar-default.navbar-shrink .navbar-brand {
  font-size: 1.5em;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
  color: grey;
}
.navbar-default .navbar-collapse {
  border-color: rgba(255, 255, 255, 0.02);
  background-color:  #008556;
}
.navbar-default .navbar-toggle {
  background-color: #white;
  border-color: #white;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: white;
}
.navbar-default .nav li a {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  color: white;
}
.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
  color: #008556;
  background-color: white;
}
.navbar-default .navbar-nav > .active > a {
  border-radius: 0;
  color: white;
  background-color: #008556;
}
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #008556;
  background-color: #white;
}

.closebtn {
    font-size: 24px!important;
    font-weight: bold;
    padding: 10px 20px !important;
    position: absolute;
    right: 0;
    text-decoration: none;
    float: right;
    color: inherit;
    cursor: pointer;
}
